{{define "main"}}
<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto col-md-12">
        <div class="page-header">
          <h2> {{ .Title }}</h2>
          <img src="{{ .Params.featureImage | absURL }}" alt="contact-images">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 mx-auto">
	{{ .Content }}


	<h2> Book a meeting with me </h2>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget"
data-url="https://calendly.com/girish1729?hide_landing_page_details=1&hide_gdpr_banner=1"
style="min-width:320px;height:630px;"></div>
<script type="text/javascript"
src="https://assets.calendly.com/assets/external/widget.js"
async></script>
<!-- Calendly inline widget end -->
  </div>

      </div>
    </div>
</section>
{{end}}
