{{define "main"}}
<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto col-md-12">
        <div class="page-header">
          <h2> {{ .Title }}</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 mx-auto">
	{{ .Content }}
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Interview with 👥 <a href="https://twitter.com/AndrewWriteCopy?ref_src=twsrc%5Etfw">@AndrewWriteCopy</a> <br><br>Meet the first interview guest on Twitter.<br><br>I plan to do several more.<br><br>Please DM for suggestions. 🗨️</p>&mdash; Girish Venkatachalam (@girish1729) <a href="https://twitter.com/girish1729/status/1569326839029714944?ref_src=twsrc%5Etfw">September 12, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</section>
{{end}}
